body {
	padding-top: 70px;
	font-family: 'Open Sans', sans-serif;
	background-color: #c2c2c2;
	margin: 0;
}

a, a:active, a:visited {
	color: #e65100;
	text-decoration: none;
}

a:hover {
	color: #ff6f00;
}

small {
	opacity: 0.5;
}

ul {
	padding: 0;
	margin: 0;
}

p, h1, h2, h3 h4, h5, h6 {
	margin: 0;
}

.singletrack {
	display: list-item;
	list-style: none;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 12pt;
	border-bottom: 1px solid #DBDBDB;
}
.singletrack:last-child {
	border-bottom: none;
}

.streamtitle {
	position: fixed;
	opacity: 0.3;
	font-size: 24pt;
	top: 10px;
	left: 10px;
	z-index: -1;
}

.cover {
	margin-right: 5px;
	display: inline-block;
	width: 64px;
	height: 64px;
	transition: width 1s, height 1s;
	transition-delay: 1s;
}

.tracktextcontainer {
	max-width: 400px;
	display: inline-block;
	z-index: 2;
}

.trackscontainer {
	background: #FFF;
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 10px;
	padding-bottom: 10px;
	display: block;
}
.nowplaying {
	float: right;
	margin-bottom: -30px;
	display: inline-block;
	margin-left: -20px;
	font-size: 38pt;
	z-index: 1;
	opacity: 0.1;
	animation: shadeshift 5s infinite;
}

@keyframes shadeshift {
    0%   {color: #111;}
    50%  {color: #999;}
    100% {color: #111;}
}